{# Texto da secao "Assistencia Residencial Emergencial 24h".
   Fornecido pelo negocio em 04/09/2026 (substitui o texto do PDF de referencia).
   Para alterar, edite este arquivo. #}
<ul class="marcadores">
  <li>Esta incluído no Seguro Incêndio Conteúdo o produto <b>"TOTAL ASSISTÊNCIA"</b> que através da
      Central de Atendimento <b>{{ central_atendimento }}</b> o segurado poderá solicitar em caso de
      <b>EMERGENCIA</b> serviços de bombeiro, chaveiro, eletricista respeitando o limite de 03 (três)
      intervenções de cada profissional, por ano.</li>
  <li><b>SERVIÇOS EXECUTADOS:</b> CHAVEIRO, ELETRICISTA E BOMBEIRO HIDRÁULICO</li>
  <li>Consulte todas as informações em <b>https://assistencia.grupofedcorp.com.br/</b></li>
</ul>
